*{
    margin: 0;
    padding: 0;
}

.caja{
    width: 200px;
    height: 200px;
    background-color: #dddddd;
    margin: 20px;
}

.padre{
    width: 500px;
    height: 500px;
    background-color: purple;
    position: relative;
}

.posicionada{
    background-color: green;
    position: absolute;
    bottom: 0;

}

/*
POSICION ESTATICA 
POSICION RELATIVA
POSICION ABSOLUTA
POSICION FIJA
POSICION FLOTANTE

*/